    /* First Section of the index page */
*{
    margin:0;
    padding:0;
}
/* Whole body Container */
body{
    display:flex;
    flex-direction:column;
    width:100vw;
    height:100vh;
}

/* header container */
#indexHeader{
display:flex;
flex:1;
background-color:purple;
min-height:150px;
}

#indexHeader #hLogo{

}


/* Main Section container */
.indexSection1{
    display:flex;
    flex:1;
    flex-direction:column;
    min-height:100vh;
    background-color:blue;
}

/* Footer container */
#footer{
display:flex;
flex:1;
background-color:purple;
min-height:200px;
}

