    /* First Section of the index page */
*{
    margin:0;
    padding:0;
}
/* Whole body Container */
body{
    display:flex;
    flex-direction:column;
    width:100vw;
    height:100vh;
}

/* header container */
#indexHeader{
display:flex;
flex:1;
background-color:purple;
min-height:150px;
}

/* container for logo */
.logo{

}
/* For header logo image */
#hLogo{
height:150px;
width:220px;
margin-left:30px;
margin-top:5px;
}


/* Main Section container */
.indexSection1{
    display:flex;
    flex:1;
    flex-direction:column;
    min-height:100vh;
    background-color:blue;
}

/* Footer container */
#footer{
display:flex;
flex:1;
background-color:purple;
min-height:200px;
}

/* Container for links in header */
#hLinks{
display:flex;
align-items: end;
justify-content: space-between;
gap:40%;
list-style:none;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size:30px;
margin-left:5%;
margin-bottom:1%;
}

#hLinks a{
    text-decoration: none;
    color:black;
}


