    /* First Section of the index page */
*{
    margin:0;
    padding:0;
}
/* Whole body Container */
body{
    display:flex;
    flex-direction:column;
    width:100vw;
    height:100vh;
}

/* header container */
#indexHeader{
display:flex;
flex-wrap:wrap;
width:100vw;
background-color:none;
min-height:150px;
}

/* container for logo */
#logo{
    width:40%;
}
/* For header logo image */
#hLogo{
height:150px;
width:220px;
margin-left:30px;
margin-top:5px;
}


/* Main Section container */
.indexSection1{
    display:flex;
    flex:1;
    flex-direction:column;
    min-height:50vh;
    max-height:100vh;
    justify-content: center;
}

/* Footer container */
#footer{
background-color:purple;
min-height:200px;
}

/* Container for links in header */
#hLinks{
display:flex;
align-items: end;
justify-content: space-between;
gap:40%;
list-style:none;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size:30px;
}

#hLinks a{
   
    text-decoration: none;
    color:black;

}

/* Header separation from body */
#line{
    height:12px;
    width:100vw;
    background-color:blue;
}

/* 1st Container inside the main section */
.innerSection1{
    height:70%;
    width:100%;
    background:repeating-linear-gradient(to bottom,rgba(178, 190, 181,.5),rgba(129, 133, 137,.4),rgb(112, 128, 144,.7));
    
}
span{
    display:block;
    position:absolute;
    top:50px;
    right:5px;
    width:32px;
    background-color:black;
    height:5px;
}

span::before, span::after{
    content:' ';
    position:absolute;
    display:block;
    top:-11px;
    right:0px;
    width:32px;
    height:5px;
    background-color:black;
}

span:after{
    top:11px;
}
